.navbar {
    background: url(http://www.fondoswiki.com/Uploads/fondoswiki.com/ImagenesGrandes/fondos-de-pantalla-de-joyas-5.jpg);
    
    margin-left: auto;
    margin-right: auto;
    }

    body {
        
        background-image: url("https://cdn.pixabay.com/photo/2015/01/31/05/05/background-618226__340.png");
      background-size: cover;
        
      }